@mixin c-navigation($archor-padding) {
    list-style: none;
    margin: 0;
    padding: 0;

    &__option {
        display: inline-block;
    }

    &__link {
        display: block;
        padding: $archor-padding;
        font-weight: 600;
        color: $brand-text-color;
    }
}

@mixin c-navigation--hover($archor-padding) {
    &__link {
        &:hover {
            color: $color-persian-green;
            text-decoration: none;
        }
    }
}
