.c-cards {
    display: flex;
}

.c-card {
    border-width: 1px;
    border-style: solid;
    border-radius: $radius-medium;
    padding: $spacing-large;
    margin: 2px;

    &--default {
        background-color: $brand-color-component;
        border-color: $brand-color-component-dark;
    }
}
