.gc-panel {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: inherit;

    &--separator {
        border-bottom: 1px dashed $gb-color-separator;
    }

    &--bordered {
        border: 1px solid $gb-color-separator;
    }

    &__title {
        font-size: 20px;
        padding: $spacing-medium;
    }

    &__content {
        padding: $spacing-medium;
        flex-grow: 1;
    }

    &__footer {
        padding: $spacing-medium;
    }
}
