.c-panel {
    background-color: $brand-color-background;

    &--separator {
        border-bottom: 1px dashed $brand-color-separator;
    }

    &--bordered {
        border: 1px solid $brand-color-separator;
    }

    &__title {
        font-size: 20px;
        padding: $spacing-medium;
    }

    &__content {
        padding: $spacing-medium;
    }
}
