{
  "parser": "babel-eslint",
  "plugins": [
    "prettier",
    "flowtype",
    "cypress",
    "react"
  ],
  "extends": [
    "airbnb",
    "prettier",
    "plugin:flowtype/recommended",
    "plugin:cypress/recommended",
    "plugin:react/recommended"
  ],
  "globals": {
    "document": true
  },
  "rules": {
    "no-underscore-dangle": "off",
    "no-param-reassign": "off",
    "import/no-extraneous-dependencies": "off",
    "jsx-a11y/no-static-element-interactions": "off"
  }
}
