$ggc-scroller-size: 12px;

.gc-scroller {
  position: relative;
  border-width: 1px;
  border-style: solid;
  border-color: $gb-brand-color-component-dark;
  background-color: $gb-brand-color-component;
  border-radius: $radius-small;
  height: $ggc-scroller-size;

  &__knob {
    position: absolute;
    border-radius: $radius-small;
    background-color: $color-mercury;
    height: $ggc-scroller-size;
    width: $ggc-scroller-size;
  }

  &__drag {
    position: absolute;
    opacity: 0;
    border-radius: $radius-small;
    background-color: $color-mercury;
    height: $ggc-scroller-size;
    width: $ggc-scroller-size;
  }
}
