%c-btn {
    @extend .btn;
    border-radius: 0px !important;
    height: 34px;
}

%c-btn-add {
    @extend %c-btn;
    background-color: $color-persian-green;
    color: $color-white;

    &:hover {
        background-color: darken($color-persian-green, 10%);
        color: $color-white;
    }
}

%c-btn-edit {
    @extend %c-btn;
    background-color: $color-viking;
    color: $color-white;

    &:hover {
        background-color: darken($color-viking, 10%);
        color: $color-white;
    }
}
