@mixin c-input() {
    display: inline-block;
    margin-bottom: 5px;

    &__label {
        font-weight: bold;
    }

    &__field {
        box-sizing: border-box;
        display: block;
        width: 100%;
        height: 34px;
        padding: $spacing-medium 2 * $spacing-medium;
        font-size: $font-size-very-large;
        line-height: $font-line-height-normal;
        border: 1px solid $brand-component-outline-color;
    }
}
