@mixin c-input() {
    display: inline-block;
    margin-bottom: 5px;

    &__label {
        font-weight: bold;
    }

    &__field {
        display: block;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857;
        border: 1px solid $brand-component-outline-color;
    }
}
