.c-input {
    @include c-input();

    &--full {
        display: block;
        width: 100%;

        .c-input__field {
            width: 100%;
        }
    }

    &__field:disabled {
        border: 0;
    }
}

