@mixin cg-header($header-height, $archor-padding) {
    display: flex;

    &__logo {
        flex-basis: 10%;
        flex-grow: 1;
        display: block;
        padding: $archor-padding;
    }

    &__navigation {
        flex-basis: 90%;
        flex-grow: 9;
    }

    &__navigation-list {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    &__navigation-option {
        display: inline-block;

        a {
            display: block;
            color: $color-mine-shaft;
            padding: $archor-padding;
            font-weight: 600;

            &:hover {
                color: $color-persian-green;
                text-decoration: none;
            }
        }
    }
}

@mixin cg-header--colored($bg-color, $outline-color) {
    background-color: $bg-color;
    border-bottom: 1px solid $outline-color;
}
