$ggc-icon-font-url: './assets/font' !default;

@font-face {
  font-family: 'graphen-icons';
  src: url($ggc-icon-font-url + '/icomoon.eot?9wkth6');
  src:
    url($ggc-icon-font-url + '/icomoon.eot?9wkth6#iefix') format('embedded-opentype'),
    url($ggc-icon-font-url + '/icomoon.ttf?9wkth6') format('truetype'),
    url($ggc-icon-font-url + '/icomoon.woff?9wkth6') format('woff'),
    url($ggc-icon-font-url + '/icomoon.svg?9wkth6#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.gc-icon {
    /* stylelint-disable */
    font-family: 'graphen-icons' !important;
    /* stylelint-enable */
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    &--circle-up::before {
        content: "\ea41";
    }

    &--circle-right::before {
        content: "\ea42";
    }

    &--circle-down::before {
        content: "\ea43";
    }

    &--circle-left::before {
        content: "\ea44";
    }

    &--fire::before {
        content: "\e9a9";
    }

    &--man::before {
        content: "\e9dc";
    }

    &--menu::before {
        content: "\e9bd";
    }

    &--menu2::before {
        content: "\e9be";
    }

    &--menu3::before {
        content: "\e9bf";
    }

    &--menu4::before {
        content: "\e9c0";
    }

    &--thermometer-half::before {
        content: "\e900";
    }

    &--radio-checked::before {
        content: "\ea54";
    }

    &--radio-checked2::before {
        content: "\ea55";
    }

    &--radio-unchecked::before {
        content: "\ea56";
    }

    &--small {
        font-size: 12px;
    }

    &--medium {
        font-size: 16px;
    }

    &--large {
        font-size: 20px;
    }
}
