.gc-page {
    box-sizing: border-box;
    padding: 1.5 * $spacing-large 5% 0;
    width: 100vw;
    flex: 1;
}

// @TODO - this needs to be removed
.main-content {
    padding: 1.5 * $spacing-large 5% 0;
    width: 100vw;
}
