.gc-dialog {
    z-index: $zlayer-top;
    position: fixed;
    background-color: $gb-color-background;
    border-radius: $radius-medium;
    border: 1px solid $gb-color-component-dark;
    padding: $spacing-large;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.38);
}
