/* Brand role */
$brand-bg-color: $color-white;
$brand-color-primary: $color-persian-green;
$brand-text-color: $color-mine-shaft;
$brand-link-color: $color-astral;

/* Structural role */
$brand-color-separator: $color-mercury;
$brand-component-bg-color: $color-wild-sand;
$brand-component-outline-color: $color-mercury;

/* Functional role */
$brand-color-success: $color-persian-green;
$brand-color-success-soft: $color-ice-cold;
$brand-color-info: $color-viking;
$brand-color-info-soft: $color-link-water;
$brand-color-danger: $color-roman;
$brand-color-danger-soft: $color-beauty-bush;

$brand-font: Arial;
