/* Brand role */
$brand-color-primary: $color-persian-green;
$brand-text-color: $color-mine-shaft;
$brand-link-color: $color-astral;

$brand-font: $typography-font-family;

/* Structural role */
$brand-color-separator: $color-mercury;
$brand-component-bg-color: $color-wild-sand;
$brand-component-outline-color: $color-mercury;

/* Functional role */
$brand-color-accept: $color-persian-green;
$brand-color-edit: $color-viking;
$brand-color-remove: $color-roman;
