$colour-cosmos: #FFDBDB;
$colour-gallery: #EDEDED;
$color-michka: #D7DADF;
$color-white: #FFFFFF;
$color-boulder: #777777;
$color-black: #000000;
$color-concrete: #F0F6F7;
$color-wild-sand: #F5F5F5;
$color-mercury: #E5E5E5;
$color-mine-shaft: #333333;
$color-indigo: #4078C0;
$color-silver: #C2C2C2;
$color-cornflower: #9ECAED;
$color-roman: #DB5551;
$color-fuzzy-wozzy-brown: #BF524F;
$color-persian-green: #00AF87;
$color-viking: #5BC0DE;
$color-alto: #DDDDDD;
