$icon-font-url: './assets/font' !default;

@font-face {
  font-family: 'graphen-icons';
  src: url($icon-font-url + '/icomoon.eot?9wkth6');
  src:
    url($icon-font-url + '/icomoon.eot?9wkth6#iefix') format('embedded-opentype'),
    url($icon-font-url + '/icomoon.ttf?9wkth6') format('truetype'),
    url($icon-font-url + '/icomoon.woff?9wkth6') format('woff'),
    url($icon-font-url + '/icomoon.svg?9wkth6#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="c-icon-"],
[class*=" c-icon-"] {
  /* stylelint-disable */
  font-family: 'graphen-icons' !important;
  /* stylelint-enable */
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.c-icon-menu::before {
  content: "\e9bd";
}

.c-icon-menu1::before {
  content: "\e9bf";
}

.c-icon-small {
  font-size: 12px;
}

.c-icon-medium {
  font-size: 16px;
}

.c-icon-large {
  font-size: 20px;
}
