.gc-header {
    display: flex;

    &--default {
        background-color: $gb-color-component-light;
        border-bottom: 1px solid $gb-color-component-dark;
    }

    &__logo {
        flex-basis: 10%;
        flex-grow: 1;
        display: block;
        padding: 2 * $spacing-large $spacing-large;
    }

    &__navigation {
        flex-basis: 90%;
        flex-grow: 9;
    }
}
