.c-header {
    display: flex;

    &--default {
        background-color:$brand-color-component;
        border-bottom: 1px solid $brand-color-component-dark;
    }

    &__logo {
        flex-basis: 10%;
        flex-grow: 1;
        display: block;
        padding: 1.5 * $spacing-large $spacing-large;
    }

    &__navigation {
        flex-basis: 90%;
        flex-grow: 9;
    }
}
