$c-switch-width: 60px;
$c-switch-height: 34px;
$c-switch-btn-size: 26px;
$c-switch-btn-padding: 4px;
$c-switch-phone-ratio: 1.5;

@mixin c-switch($active-color) {
    $parent-selector: &;
    position: relative;
    display: inline-block;
    width: $c-switch-width;
    height: $c-switch-height;

    @include phone {
        width: $c-switch-width * $c-switch-phone-ratio;
        height: $c-switch-height * $c-switch-phone-ratio;
    }

    &__input {
        display:none;

        &:checked {
            & + #{$parent-selector}__slider {
                background-color: $active-color;
            }

            & + #{$parent-selector}__slider::before {
                transform: translateX($c-switch-btn-size);

                @include phone {
                    transform: translateX($c-switch-btn-size * $c-switch-phone-ratio);
                }
            }
        }

        &:focus + #{$parent-selector}__slider {
            box-shadow: 0 0 1px $active-color;
        }
    }

    &__slider {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        cursor: pointer;
        background-color: $brand-component-bg-color;
        transition: .4s;

        &::before {
            position: absolute;
            content: "";
            height: $c-switch-btn-size;
            width: $c-switch-btn-size;
            left: $c-switch-btn-padding;
            bottom: $c-switch-btn-padding;
            background-color: white;
            transition: .4s;

            @include phone {
                height: $c-switch-btn-size * $c-switch-phone-ratio;
                width: $c-switch-btn-size * $c-switch-phone-ratio;
                left: $c-switch-btn-padding * $c-switch-phone-ratio;
                bottom: $c-switch-btn-padding * $c-switch-phone-ratio;
            }
        }
    }
}


