.gm-spacing-l {
  margin: $spacing-large;
}

.gm-spacing-vl {
  margin: $spacing-very-large;
}

.gm-spacing-rl {
  margin-right: $spacing-large;
}

.gm-spacing-rvl {
  margin-right: $spacing-very-large;
}

.gm-spacing-bl {
  margin-bottom: $spacing-large;
}

.gm-spacing-bvl {
  margin-bottom: $spacing-very-large;
}

.gm-spacing-ll {
  margin-left: $spacing-large;
}

.gm-spacing-lvl {
  margin-left: $spacing-very-large;
}

.gm-spacing-tl {
  margin-top: $spacing-large;
}

.gm-spacing-tvl {
  margin-top: $spacing-very-large;
}
