.gc-link {
  cursor: pointer;
  text-decoration: none;

  &--primary {
    color: $gb-color-link;

    &:hover {
      color: lighten($gb-color-link, 20%);
    }
  }

  &--default {
    color: $gb-color-text;

    &:hover {
      color: lighten($gb-color-text, 20%);
    }
  }
}
