$gc-tooltip-arrow-size: 8px;

.gc-tooltip {
    z-index: $zlayer-top;
    position: absolute;
    margin-top: 3px;
    padding: $spacing-medium;
    background-color: $gb-color-component;
    border-radius: $radius-medium;

    &::before {
        content: '';
        display: block;
        position: absolute;
        left: $gc-tooltip-arrow-size;
        top: -$gc-tooltip-arrow-size;
        width: 0;
        height: 0;
        border-left: $gc-tooltip-arrow-size solid transparent;
        border-right: $gc-tooltip-arrow-size solid transparent;
    }

    &--success {
        color: $gb-color-success;
        background-color: $gb-color-success-soft;

        &::before {
            border-bottom: $gc-tooltip-arrow-size solid $gb-color-success-soft;
        }
    }

    &--danger {
        color: $gb-color-danger;
        background-color: $gb-color-danger-soft;

        &::before {
            border-bottom: $gc-tooltip-arrow-size solid $gb-color-danger-soft;
        }
    }
}
