.dropdown__btn {
	 @include cx-btn--size(34px);
	 margin-bottom: 0px;
	 position: relative;
	 background-color: $gb-color-component-dark;
	 color: black;
	 border: none;
	 	&:hover{
	 		cursor: pointer;
	 	}	  
}
.dropdown-content {
	display: block;
	margin-top: 0px;
	width: 200px;
	background-color: $gb-color-component-dark;
	color: black;
	text-align: left;
		&__list {
		margin-top: 0px;
		margin-left: 7px;	
		padding: 3px; 
	}
		&__item {
		padding: 10px 6px;
		text-decoration: none;
		list-style: none;
	}
		&__link{
		padding: 8px;
			&:visited {
			color:black;
		}
	}
}