.dropdown__menu {
  position: relative;
}

.dropdown__btn {
  display: block;
  clear: both;
  box-sizing: border-box;
  text-align: center;
  font-size: inherit;
  padding: $spacing-large;
  width: 250px;
  margin-top: 5px;
  margin-bottom: 0;
  position: relative;
  background-color: $color-white;
  color: $gb-color-text;
  border-radius: $radius-medium;
  border: 1px solid $color-silver;
  box-shadow: $gc-shadow-default;

  &:hover {
    cursor: pointer;
  }
}

.dropdown__content {
  position: relative;
  display: block;
  margin-top: $spacing-large;
  margin-left: 0px;
  margin-right: 0px;
  width: 250px;
  background-color: $color-white;
  color: $gb-color-text;
  text-align: center;
  box-shadow: $gc-shadow-default;
}

.dropdown__list {
  margin: 0;
  padding: 0;
}

.dropdown__item {
  padding: $spacing-large;
  text-decoration: none;
  list-style: none;
  border-radius: $radius-medium;
  border: 1px solid $color-silver;

  &:hover {
    cursor: pointer;
  }
}

.dropdown__link {
  &:visited {
    color: $gb-color-text;
  }
}
