.dropdown-btn {
	 @include cx-btn--size(34px);
	 margin-bottom: 0px;
	 position: relative;
	 background-color: $gb-color-component-dark;
	 color: black;
	 border: none;
	 	&:hover{
	 		cursor: pointer;
	 	}	  
	}
.dropdown-content {
	display: block;
	margin-top: 0px;
	width: 200px;
	background-color: $gb-color-component-dark;
	color: black;
	text-align: left;
		ul {
		margin-top: 0px;
		margin-left: 7px;	
		padding: 3px; 
			li {
			padding: 10px 6px;
			text-decoration: none;
			list-style: none;
				a {
				padding: 8px;
					&:visited {
						color:black;
							}
				}
			}
		}
	}
.dropdown-content-off {
	display: none;
	}