.gc-dropdown {
  &__label {
    color: $color-boulder;
    font-size: $font-size-very-large;
    font-weight: bold;
    padding-left: $spacing-small;
  }

  &__menu {
    position: relative;
  }

  &__btn {
    display: block;
    text-align: left;
    font-size: inherit;
    padding: $spacing-large;
    width: 250px;
    margin-top: 5px;
    margin-bottom: 0;
    position: relative;
    background-color: $color-white;
    color: $gb-color-text;
    border: 1px solid $color-silver;
    border-radius: $radius-medium;
    box-shadow: $gc-shadow-default;

    &:hover {
      cursor: pointer;
    }
  }

  &__content {
    position: relative;
    display: block;
    margin-top: $spacing-large;
    margin-left: 0;
    margin-right: 0;
    width: 250px;
    background-color: $color-white;
    color: $gb-color-text;
    text-align: left;
    box-shadow: $gc-shadow-default;
    border-radius: $radius-medium;
    border: 1px solid $color-silver;
    box-sizing: border-box;
  }

  &__list {
    margin: 0;
    padding: 0;
  }

  &__item {
    padding: $spacing-large;
    text-decoration: none;
    list-style: none;
    border-top: 1px solid $color-silver;

    &--first {
      @extend .gc-dropdown__item;

      border-top: none;
    }

    &:hover {
      cursor: pointer;
    }
  }

  &__link {
    &:visited {
      color: $gb-color-text;
    }
  }
}
