.gc-image {
    position: relative;
    display: inline-block;
    border: 1px solid $gb-color-component-dark;
    padding: $radius-medium;
    vertical-align: middle;

    &__fallback {
        background-color: $gb-color-component-light;
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 100%;

        &::before {
            content: "No image loaded";
            text-align: center;
        }
    }
}
