$gc-led-red-center: #f00;
$gc-led-green-center: #0f0;
$gc-led-blue-center: #b5f2e4;

@include cx-led-blink (gc-led-red-blink, $gc-led-red-center, $gb-brand-color-danger, $gb-brand-color-danger, rgba(255, 0, 0, 0.5))
@include cx-led-blink (gc-led-green-blink, $gc-led-green-center, $gb-brand-color-success, $gb-brand-color-success, rgba(0, 255, 0, 0.5))
@include cx-led-blink (gc-led-blue-blink, $gc-led-blue-center, $gb-brand-color-info, $gb-brand-color-info, rgba(0, 0, 255, 0.5))

.gc-led {
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    border-radius: 50%;

    &--red {
        @include cx-led($gc-led-red-center, $gb-brand-color-danger);

        &.gc-led--blink {
            animation: gc-led-red-blink 0.5s infinite;
        }
    }

    &--green {
        @include cx-led($gc-led-green-center, $gb-brand-color-success);

        &.gc-led--blink {
            animation: gc-led-green-blink 0.5s infinite;
        }
    }

    &--blue {
        @include cx-led($gc-led-blue-center, $gb-brand-color-info);

        &.gc-led--blink {
            animation: gc-led-blue-blink 0.5s infinite;
        }
    }
}
