.c-accordeon {
    @extend .c-panel;
    @extend .c-panel--separator;

    &__title {
        @extend .c-panel__title;
        cursor: pointer;
    }

    &__content {
        @extend .c-panel__content;
        max-height: 1000px;
        transition: max-height 1s;

        &--collapsed {
            max-height: 0px;
            overflow: hidden;
            transition: max-height 1s;
        }
    }
}
