/* Brand role */
/* Structural role */
/* Functional role */
.m-pull-right {
  float: right !important; }

.c-alert {
  border-width: 1px;
  border-style: solid;
  padding: 10px 6px; }
  .c-alert--danger {
    color: #db5551;
    border-color: #db5551;
    background-color: #F4CECD; }
  .c-alert--success {
    color: #00af87;
    border-color: #00af87;
    background-color: #B5F2E4; }

.c-header {
  display: flex;
  background-color: #f5f5f5;
  border-bottom: 1px solid #e5e5e5; }
  .c-header__logo {
    flex-basis: 10%;
    flex-grow: 1;
    display: block;
    padding: 15px 10px; }
  .c-header__navigation {
    flex-basis: 90%;
    flex-grow: 9; }

.c-page {
  box-sizing: border-box;
  padding: 15px 5% 0;
  width: 100vw;
  flex: 1; }

.main-content {
  padding: 15px 5% 0;
  width: 100vw; }

.c-footer {
  padding: 10px;
  font-size: 12px;
  margin-top: 20px;
  background-color: #f5f5f5; }

.c-body {
  margin: 0;
  font-family: Arial;
  font-weight: 100;
  font-size: 14px;
  color: #333;
  display: flex;
  flex-direction: column; }
  .c-body a {
    cursor: pointer;
    text-decoration: none; }
  .c-body--default {
    background-color: #fff; }

.c-btn {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  border-radius: 0px;
  user-select: none;
  height: 34px;
  padding: 6px 11.33333px;
  font-size: 13.33333px;
  line-height: 22px; }
  .c-btn--small {
    height: 20px;
    padding: 6px 6.66667px;
    font-size: 8.66667px;
    line-height: 8px; }
  .c-btn--full {
    width: 100%;
    display: block; }
  .c-btn--accept {
    background-color: #00af87;
    color: #fff; }
    .c-btn--accept:hover {
      background-color: #007c60;
      color: #fff; }
  .c-btn--edit {
    background-color: #5bc0de;
    color: #fff; }
    .c-btn--edit:hover {
      background-color: #31b0d5;
      color: #fff; }
  .c-btn--remove {
    background-color: #db5551;
    color: #fff; }
    .c-btn--remove:hover {
      background-color: #ce2f2b;
      color: #fff; }

.c-cards {
  display: flex; }

.c-card {
  background-color: #f5f5f5;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  padding: 10px;
  margin: 2px; }

.c-input {
  display: inline-block;
  margin-bottom: 5px; }
  .c-input__label {
    font-weight: bold; }
  .c-input__field {
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    border: 1px solid #e5e5e5; }
  .c-input--full {
    display: block;
    width: 100%; }
  .c-input__field:disabled {
    border: 0; }

@keyframes c-led-red-blink {
  from {
    background-color: #F00; }
  50% {
    background-color: #A00;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0; }
  to {
    background-color: #F00; } }

.c-led-red {
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  background-color: #F00;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #006 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 14px;
  animation: c-led-red-blink 0.5s infinite; }

.c-led-green {
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  background-color: #ABFF00;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #006 0 -1px 9px, #89FF00 0 2px 14px; }

.c-led-blue {
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  background-color: #24E0FF;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #006 0 -1px 9px, #3F8CFF 0 2px 14px; }

@keyframes c-led-yellow-blink {
  from {
    background-color: #FF0; }
  50% {
    background-color: #AA0;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 0; }
  to {
    background-color: #FF0; } }

.c-led-yellow {
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  background-color: #FF0;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #006 0 -1px 9px, #FF0 0 2px 14px;
  animation: c-led-yellow-blink 0.5s infinite; }

/*.c-led-disabled {
    @include c-led(#ABABAA, #ABABAA);
}*/
.c-list {
  margin-bottom: 20px;
  padding-left: 0; }
  .c-list__item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #e5e5e5; }

@keyframes c-loading {
  to {
    transform: rotate(360deg); } }

.c-loader {
  margin: 0 auto;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: transparent;
  border-top: 4px solid #fff;
  border-right: 4px solid #fff;
  border-bottom: 4px solid #777;
  border-left: 4px solid #777;
  animation: c-loading 1.2s infinite linear; }

.c-navigation {
  list-style: none;
  margin: 0;
  padding: 0; }
  .c-navigation__option {
    display: inline-block; }
  .c-navigation__link {
    display: block;
    padding: 15px 10px;
    font-weight: 600;
    color: #333; }
  .c-navigation__link:hover {
    color: #00af87;
    text-decoration: none; }

.c-panel {
  background-color: #fff; }
  .c-panel__title {
    font-size: 20px;
    padding: 6px; }
  .c-panel__content {
    padding: 6px; }
  .c-panel--separator {
    border-bottom: 1px dashed #e5e5e5; }
  .c-panel--bordered {
    border: 1px solid #e5e5e5; }

.c-sample {
  display: inline-block;
  vertical-align: middle;
  height: 40px;
  width: 40px;
  border-radius: 40px; }
  .c-sample--brand-primary {
    background-color: #00af87; }
  .c-sample--brand-text {
    background-color: #333; }
  .c-sample--brand-link {
    background-color: #337ab7; }
  .c-sample--brand-component {
    background-color: #f5f5f5; }

.c-switch {
  border: 1px solid #e5e5e5;
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px; }
  .c-switch__input {
    display: none; }
    .c-switch__input:checked + .c-switch__slider {
      background-color: #00af87; }
    .c-switch__input:checked + .c-switch__slider::before {
      transform: translateX(26px); }
    .c-switch__input:focus + .c-switch__slider {
      box-shadow: 0 0 1px #00af87; }
  .c-switch__slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
    background-color: #f5f5f5;
    transition: .4s; }
    .c-switch__slider::before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      transition: .4s; }

.c-textarea {
  display: block;
  min-height: 35px;
  padding: 6px 12px;
  width: 100%;
  border: 1px solid #e5e5e5;
  font-size: 12px;
  line-height: 1.42857; }

