.gc-textarea {
    display: block;
    min-height: 35px;
    padding: $spacing-medium $spacing-medium;
    width: 100%;
    border: 1px solid $gb-brand-color-component-dark;
    font-size: $font-size-very-large;
    line-height: $font-line-height-normal;
    border-radius: $radius-medium;
}
