@mixin c-body($font) {
    margin: 0;
    font-family: $font;
    font-weight: 100;
    font-size: $font-size-very-large;
    color: $brand-text-color;

    a {
        cursor: pointer;
        text-decoration: none;
    }
}
