@mixin c-btn--size($height) {
    height: $height;
    padding: 0px ($height / 3);
    font-size: ($height / 3 + 2);
    line-height: ($height - 2 * 6px);
}

@mixin c-btn--hover($bg-color, $color) {
    background-color: $bg-color;
    color: $color;

    &:hover {
        background-color: darken($bg-color, 10%);
        color: $color;
    }
}


